In [25]:
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd
from flask import Flask, jsonify
import sqlite3

In [21]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [22]:
df = pd.read_csv('Resources/airbnb.xl.csv')
df

,Index,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,1,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,2,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,3,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,4,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,5,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...,...
38728,38729,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38729,38730,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38730,38731,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38731,38732,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38732,38733,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [23]:
df = df.dropna(how = 'any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38331 entries, 0 to 38732
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             38331 non-null  int64
 1   Boroughs          38331 non-null  object
 2   Latitude          38331 non-null  float64
 3   Longitude         38331 non-null  float64
 4   Prop_Type         38331 non-null  object
 5   Min_Nights        38331 non-null  float64
 6   Host_Listing_Cnt  38331 non-null  float64
 7   Days_Available    38331 non-null  int64
 8   Review_Cnt        38331 non-null  int64
 9   Reviews30d        38331 non-null  float64
 10  Price             38331 non-null  float64
dtypes: float64(6), int64(3), object(2)
memory usage: 3.5+ MB

In [34]:
conn = sqlite3.connect('Airbnb.sqlite')
df.to_sql(name='Airbnb', con=conn, if_exists='replace', index=False)

In [32]:
engine = create_engine("sqlite:///Airbnb.sqlite")
# reflect an existing database into a new model

In [37]:
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)
Base.classes.keys()
pd.read_sql("Select * from Airbnb", con = conn)
# conn.close()

,Index,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,1,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,2,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,3,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,4,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,5,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...,...
38326,38729,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38327,38730,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38328,38731,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38329,38732,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38330,38733,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [39]:
Base.classes.keys()

['Airbnb']

c:\Users\steph\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)